!!!5
html(lang='en')
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title= site.title
  link(href='/assets/css/app.css', rel='stylesheet')
  //if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
body
  header.site-header
    .container
  .site-main
    .container
      != yield
  footer.site-footer
    .container
      .row
        .col-xs-12
          p &copy; #{ new Date().getFullYear() } #{ site.name }

  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
  script(src='/assets/js/bootstrap.min.js')
  script(src='/assets/js/main.js')
