.container
  .page-header
    h1 Construction Services Provided
  .row
    .col-sm-4
      .thumbnail
        img.img-responsive(src='//placehold.it/420x300', alt='')
    .col-sm-8
      :markdown

        