.container
  .page-header
    h1 Construction Services Provided
  .row
    .col-sm-8
      .panel-group#accordion
        .panel.panel-primary
          .panel-heading(role='tab')
            h3.panel-title 
              a(data-toggle='collapse', data-parent='#accordion', href='#traditional') Traditional Construction Management
          .panel-collapse.collapse.in#traditional
            .panel-body
              p As the construction manager, Propper Constrcution Services provides the project owner with a guaranteed maximum price (GMP) proposal, which the owner may accept, reject, or negotiate. Upon the owner’s acceptance of the proposal by execution of an amendment, the construction manager becomes contractually bound to provide labor and materials for the project and to complete construction at or below the guaranteed maximum price.
              p Typically, the method of contracting is to use the American Institute of Architects A133–2009 (formerly the A121CMc–2003), Standard Form of Agreement Between Owner and Construction Manager as Constructor where the basis of payment is the Cost of the Work Plus a Fee with a Guaranteed Maximum Price.
        .panel.panel-primary
          .panel-heading(role='tab')
            h3.panel-title
              a(data-toggle='collapse', data-parent='#accordion', href='#pre-construction') Pre-Construction Services
          .panel-collapse.collapse#pre-construction
            .panel-body
              p Pre-Construction services increase Propper Construction Services’  value to the client enabling a project to become more financially and technically feasible through a series of early phases:
              ul
                li Concept design phase – conceptual estimating provided
                li Detailed design phase – more detailed estimating provided 
                li Implementation documents phase – final GMP established with savings split 
                li Agency review phase - permitting 
                li Buyout phase – opportunity to increase fee 
                li Scheduling phase – concurrent with buyout we reduce schedule times with key subcontractors 
                li Construction phase – construction management on site (after pre-construction)
        .panel.panel-primary
          .panel-heading
            h3.panel-title
              a(data-toggle='collapse', data-parent='#accordion', href='#design-build') Design-Build Construction and Integrated Project Delivery
          .panel-collapse.collapse#design-build
            .panel-body
              p Propper Construction Services has adopted a communicative design-build philosophy, with the design-build concept expanded to be highly interactive among all team members, in essence becoming an integrated project delivery methodology.  
              p This approach is growing in use through the construction industry as a means of delivering negotiated construction projects through their operational stage.
              h4 Design-Build Key Attributes:
              ol
                li Project Owner enters into a contract with us as a single entity Design-Builder.
                li Design-Builder is obligated to engage the correct design professionals including architects, engineers, other designers. 
                li Design-Builder is the procurer of design services, and does not furnish design services.
                li Design-Builder enters into a contract with the Architect and manages the design process so that the benefit of construction experience and estimating is incorporated into the project design.
                li Single contract = single point of communication and responsibility. 
                li Combined leadership for all services. No management of multiple contracts, vendors or invoices. 
                li Upfront understanding of a guaranteed maximum price. 
                li Development services included in design-build contract. 
                li Turnkey, time-saving design &amp; build process 
                li Expedited project start and project delivery 
                li Time-saving overlap of design and construction 
                li Escalation and rising cost mitigation 
                li High-quality results, with minimal owner’s risk

              p: strong The Project Owner in central in all Design-Build discussions.
    .col-sm-4
      .thumbnail
        img.img-responsive(src='//placehold.it/420x500', alt='')