.container
  != partial('_page-header')
  .row
    .col-sm-8
      .panel-group#accordion
        .panel.panel-primary
          .panel-heading(role='tab')
            h3.panel-title 
              a(data-toggle='collapse', data-parent='#accordion', href='#traditional') Traditional Construction Management
          .panel-collapse.collapse.in#traditional
            .panel-body
              p Project owners benefit from early alignment by engaging Propper Construction Services in a variety of professional services such as site optimization, front-end estimating, quality and cost control of architectural details, value engineering, and schedule reduction.
              p Typically, the method of contracting is to use the American Institute of Architects A133–2009 (formerly the A121CMc–2003), Standard Form of Agreement Between Owner and Construction Manager as Constructor where the basis of payment is the Cost of the Work Plus a Fee with a Guaranteed Maximum Price.
        .panel.panel-primary
          .panel-heading(role='tab')
            h3.panel-title
              a(data-toggle='collapse', data-parent='#accordion', href='#pre-construction') Pre-Construction Services
          .panel-collapse.collapse#pre-construction
            .panel-body
              p Pre-Construction services increase Propper Construction Services’ value to the client enabling a project to become more financially and technically feasible through a series of early phases:
              ul
                li Concept design phase
                li Detailed design phase
                li Implementation documents phase
                li Agency review phase
                li Buyout phase
                li Scheduling phase
                li Construction phase
        .panel.panel-primary
          .panel-heading
            h3.panel-title
              a(data-toggle='collapse', data-parent='#accordion', href='#design-build') Design-Build Construction and Integrated Project Delivery
          .panel-collapse.collapse#design-build
            .panel-body
              p Propper Construction Services has adopted a communicative design-build philosophy, with the design-build concept expanded to be highly interactive among all team members, in essence becoming an integrated project delivery methodology.  
              p This approach is growing in use through the construction industry as a means of delivering negotiated construction projects through their operational stage.
              h4 Design-Build Key Attributes:
              ol
                li Project Owner enters into a contract with us as a single entity Design-Builder.
                li Design-Builder is obligated to engage the correct design professionals including architects, engineers, and other designers. 
                li Design-Builder is the procurer of design services, and does not furnish design services.
                li Design-Builder enters into a contract with the Architect and manages the design process so that the benefit of construction experience and estimating is incorporated into the project design.
                li Single contract = single point of communication and responsibility. 
                li Combined leadership for all services. No management of multiple contracts, vendors or invoices. 
                li Upfront understanding of a guaranteed maximum price. 
                li Development services included in design-build contract. 
                li Turnkey, time-saving design &amp; build process 
                li Expedited project start and project delivery 
                li Time-saving overlap of design and construction 
                li Escalation and rising cost mitigation 
                li High-quality results, with minimal owner’s risk

              p: strong The Project Owner is central in all Design-Build discussions.
    .col-sm-4
      .thumbnail.text-center
        img.img-responsive(src='/assets/img/services-services-provided.jpg', alt='')
        small Lorem ipsum dolor sit amet