.container
  != partial('_page-header', {title: 'Contact Us'})
  .row
    .col-sm-8.col-sm-offset-2
      p.lead Please email us for more information at 
        a(href='mailto:emilyr@proppercs.com') emilyr@proppercs.com
        |.
      p
        strong Phone: 
        | 636-439-2800
      p
        strong Fax: 
        | 636-439-2811

      p: strong We are located at:

      address
        | 17 Research Park Drive
        br
        | St Charles Missouri, 63304
      p: a.btn.btn-primary.btn-xs(href='#{ site.gmapUrl }', target='_blank') View a Map
        |&nbsp;
        i.glyphicon.glyphicon-new-window