.container

  .page-header
    h1 Contact Us

  p.lead Please email us for more information at 
    a(href='mailto:info@proppercs.com') info@proppercs.com
    | .

  p We are located at:

  address
    | 17 Research Park Drive
    br
    | St Charles Missouri, 63304

  p
    strong Phone: 
    | 636-439-2800
  p
    strong Fax: 
    | 636-439-2811
