.container
  .page-header
    h1 Contact Us
    hr
  .row
    .col-sm-9
      p.lead Please email us for more information at 
        a(href='mailto:info@proppercs.com') info@proppercs.com
        |.

      p
        strong Phone: 
        | 636-439-2800
      p
        strong Fax: 
        | 636-439-2811

      p: strong We are located at:

      address
        | 17 Research Park Drive
        br
        | St Charles Missouri, 63304
      p: a.btn.btn-primary.btn-xs(href='#{ site.gmapUrl }', target='_blank') View a Map
        |&nbsp;
        i.glyphicon.glyphicon-new-window

    .col-sm-3
      .thumbnail
        img.img-responsive(src='//placehold.it/420x500', alt='')