.container
  p Propper Construction Services is a proud member of the family of companies affiliated with Propper International&trade;. It was borne from the desire of Propper International&trade; to diversify its operations and expand its business opportunities.  

  p Propper International&trade;, a privately held company with revenues approximating $400 million annually in recent years, provides a backbone of capital and operational resources which enables Propper Construction Services to competitively pursue construction business opportunities nationally.

  p Propper Construction Services was incorporated in February of 2014 and was founded foremost on the principals of Exceptional Customer Service and Attention to Detail.  

  p Although Propper Construction Services is a newly formed company, the principals of Propper Construction Service have been former key executives of other major St. Louis based construction companies, with diverse experience and exceptional construction backgrounds.