.container
  .row
    .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-0.col-lg-6.col-lg-offset-0
      p 
        strong Propper Construction Services 
        |  is a full-service construction company based in St. Louis, MO, catering to commercial and government clients.

      p While PropperCS.com is currently under construction, please check back soon for our complete website or contact 
        a(href="mailto:emilyr@propper.com") Emily Richter
        |  today with any questions.

      p For additional information on Propper International, please visit 
        a(href="http://www.propper.com") www.propper.com
        |. 