.container
  .thumbnail.text-right.text-muted
    img.img-responsive(src='/assets/img/jumbotron/home-crop.jpg', alt='')
    caption: small Image &copy; Srenco Aerial Photography

  .row
    .col-sm-12.text-center
      br
      h2 Introducing Propper Construction Services
      hr
  .row
    .col-sm-4
      p Propper Construction Services is a proud member of the family of companies affiliated with Propper International&trade;.  
    .col-sm-4
      p Propper International, a privately held company with revenues approximating $400 million annually in recent years, provides a backbone of capital and operational resources which enables Propper Construction Services to competitively pursue construction and real estate business opportunities nationally.
    .col-sm-4
      p Propper Construction Services was incorporated in February of 2014 and was founded foremost on the principals of Exceptional Customer Service and Attention to Detail.  
  .row
    .col-sm-12.text-center.l-padded
      p: a.btn.btn-primary.btn-lg(href='/construction-services.html') Learn More About Our Services
  .row
    .col-sm-12
      blockquote
        p Although Propper Construction Services is a newly formed company, the principals of Propper Construction Service have been former key executives of other major St. Louis based construction companies, with diverse experience and exceptional construction backgrounds.