.container
  != partial('_page-header', {title: title, subtitle: 'Company Profile'})
  .row
    .col-sm-8.col-sm-offset-2
      .thumbnail
        img.img-responsive(src='/assets/img/about-intl-profile.jpg', alt='')
      :markdown
        Propper makes tactical, law enforcement, public safety and military gear that works right, right when it’s supposed to. Whether you’re in the service, on the job or off for the weekend, Propper gear keeps you moving, wherever the action is.

        Propper was founded in 1967 by William T. Propper, an entrepreneur with a passion for manufacturing. With hard work and a dedicated staff, Propper eventually landed its first government contract with the U.S. Navy, manufacturing caps known as "Dixie cups." As the years marched on, we grew our business – and our reputation for quality.

        Today, from design to delivery, we're driven by good people making really good gear. It's a difference you can feel in every stitch, every seam and every pocket.