.container
  .page-header
    h1 Propper International&trade; Company Profile

  :markdown
    As one of the largest official suppliers of apparel to the United States armed forces, Propper International™ has proudly manufactured more than 120 million garments for the U.S. Department of Defense - Army, Air Force, Navy, Marines, Coast Guard and Special Forces.  Propper International™ also manufactures high-quality apparel for the commercial military, tactical, law enforcement and public safety markets.  Propper International™ commercial products are distributed through more than 3,000 military, law enforcement and specialty retail stores and websites worldwide.
    
    Propper International™ was founded in 1967 by William T. Propper, an entrepreneur with a talent for innovation and a passion for manufacturing. Through hard work, and a dedicated staff, Propper International™ has grown its core business, and also grown the businesses of a family of affiliated companies, including Propper Construction Services, all of which are known for their reputation for quality.  
