.container
  .page-header
    h1 Leadership
  .row
    .col-sm-8
      p Together, Tim Breece (President), Gary Gossett (Vice President) and Tom Bodine (Superintendent) have over 80 years of combined construction management experience. They have been entrusted by their clients with completing difficult schedules and overcoming unique construction challenges.  Moreover, they have managed all types of commercial projects with combined/collective contract values of over $4 billion dollars in aggregate.
      p Tim has more than 24 years of experience in the construction, renewable energy, and real estate development fields. Prior to Tim's involvement Propper Construction Services, he served both as operations executive and as co-owner of a large, privately held, design build general contracting company, ranked highly on ENR's list of top 100 contractors in the U.S. 
      p Tim Breece has worked in nearly every market sector, including renewable energy development and construction (solar, wind, hydro, and waste to energy technologies), and also coal fired power plant construction. Tim Breece's construction and development experience includes large civil and site work projects, retail, multi-family residential, hospitality, industrial, office, and data center construction. In total, Tim has been directly responsible for overseeing design build construction, development, and EPC contracts, valued in excess of $1.2 billion.
      p Gary  Gossett has had Over 30 years of successful experience in managing over two billion dollars of new construction projects throughout the United States in a variety of business markets. Specializing in the industrial, refinery, cement manufacturing, water and water waste, power, wind and solar power, healthcare, automotive, aerospace, and commercial building markets. 
      p Gary Gossett has been an executive in charge of: a $185 million Cement Plant, a $240 million Municipal Water Plant, a $275 million Water &amp; Sewage Plant, and a $975 million Automobile and Engine Plant.
      p Tom Bodine has had over 30 years of experience in construction and has supervised projects totaling over $1 billion in construction including: $10 million Campbell Soup Supply Company, $203 million MOX Fuel Facility, $154 million Seabrook Gates Complex, $295 million New Orleans East Back Levee, $973 million Holcim (US) Ltd., St Genevive Cement Plant, and more.
    .col-sm-4
      .thumbnail
        img.img-responsive(src='//placehold.it/420x500', alt='')