.container
  != partial('_page-header', {title: 'Leadership'})
  .row
    .col-sm-12
      p.lead Together, Tim Breece (President), Gary Gossett (Vice President) and Tom Bodine (Director of Field Operations) have over 95 years of combined construction management experience. They have been entrusted by their clients with completing difficult schedules and overcoming unique construction challenges.  Moreover, they have managed all types of commercial projects with combined/collective contract values of over $4 billion dollars in aggregate.
      .row
        .col-sm-4
          .thumbnail
            img.img-responsive(src='/assets/img/people/Tim-Breece.jpg', alt='Tim Breece, President')
        .col-sm-8
          h4 Tim Breece
            |&nbsp;
            small President
          p Tim has more than 24 years of experience in the construction, renewable energy, and real estate development fields. Prior to Tim's involvement Propper Construction Services, he served both as operations executive and as co-owner of a large, privately held, design build general contracting company, ranked highly on ENR's list of top 100 contractors in the U.S. 
          p Tim Breece has worked in nearly every market sector, including renewable energy development and construction (solar, wind, hydro, and waste to energy technologies). Tim Breece's construction and development experience includes large civil and site work projects, retail, multi-family residential, hospitality, industrial, office, and data center construction. In total, Tim has been directly responsible for overseeing design build construction, development, and EPC contracts, valued in excess of $1.2 billion.
      .row
        hr
      .row
        .col-sm-4
          .thumbnail
            img.img-responsive(src='/assets/img/people/Gary-Gossett.jpg', alt='Gary Gossett, Vice President')
        .col-sm-8
          h4 Gary Gossett
            |&nbsp;
            small Vice President
          p Gary B. Gossett has had over 34 years of successful experience in managing over two billion dollars of new construction projects throughout the United States in a variety of business markets. Gary has specialized in the industrial market including refineries, cement plants, bulk warehouses, manufacturing, water and waste water; power, wind, and solar power; also healthcare, automotive, aerospace, and commercial building markets. 
          p Gary has been the Executive in charge of projects such as a $185 million cement plant, $240 million municipal water plant, $275 million water and sewage plant, and a $975 million automobile engine plant.
          p Gary has demonstrated experience in all phases of a wide variety of construction projects. He has extensive experience working closely with all trade unions. Gary has led partnering projects with various clients, and co-authored a book on project partnering.
      .row
        hr
      .row
        .col-sm-4
          .thumbnail
            img.img-responsive(src='/assets/img/people/Tom-Bodine.jpg', alt='Tom Bodine, Director of Field Operations')
        .col-sm-8
          h4 Tom Bodine
            |&nbsp;
            small Director of Field Operations
          p Tom Bodine has had over 36 years of experience in construction and has supervised projects totaling over $2 billion in construction including: $10 million Campbell Soup Supply Company, $203 million MOX Fuel Facility, $154 million Seabrook Gates Complex, $295 million New Orleans East Back Levee, $973 million Holcim (US) Ltd., St Genevieve Cement Plant, and many more.
          p Tom’s responsibilities include oversight of field supervision on construction sites, management of all on-site subcontractor activities and work, coordination of details shown by architects and engineers, job site safety, project scheduling, (daily, weekly, and month-to-month), daily reporting, project subcontract controls and material purchasing controls, project cost control, and project quality control.