.container
  != partial('_page-header', {title: 'Negotiating Projects'})
  .row
    .col-sm-8.col-sm-offset-2
      .thumbnail
        img.img-responsive(src='/assets/img/services-negotiating-projects.jpg', alt='')
  .row
    .col-sm-8.col-sm-offset-2
      
      :markdown

        Project owners benefit from early alignment by engaging Propper Construction Services in a variety of professional services such as site optimization, front-end estimating, quality and cost control of architectural details, value engineering, and schedule reduction.

        Integrated construction teams and a true design build approach reduces change orders and cost overruns for owners.
        
        Fees are negotiated in exchange for pre-construction services, and professional services provided by Propper Construction Services.