.container
  != partial('_page-header', {title: 'Project Management Process'})
  .row
    .col-sm-5.col-sm-push-7
      .thumbnail.text-center
        img.img-responsive(src='/assets/img/about-pm.jpg', alt='')
        caption: small Construction of 200,000 SF Distribution Facility in Dickson, TN
    .col-sm-7.col-sm-pull-5
      p Propper Construction Services begins each project with an Attentive Planning Study, which is an intense examination of critical aspects relating to project costs, project quality, project schedule, and project safety.   As a result of the planning study, Propper Construction Services can help guide you through all facets of your project, from the beginning of the bid process through the project completion.  Our planning process will lay the groundwork to ensure your satisfaction and contribute to your project's success.
      
      p Professional Construction Management is at the core of Propper Construction expertise. Carefully orchestrating each aspect of your project from start to finish, this management process involves systematic collaboration, precision scheduling and seamless communication. 

      p Propper Construction Services' professional construction management process includes:

      dl
        dt Systematic pre-qualification of subcontractors and vendors
        dd Each company working on your project is results-driven, and has been carefully selected by Propper Construction for their skill and experience. This guaranteed competency translates directly to construction efficiency and project quality.
        dt Daily administration of the worksite
        dd This includes exacting maintenance of work scope and work plans, jobsite schedules, construction workflow, tradesmen/vendor relationships and budget parameters. 
        dt Contingency plans
        dd While our construction teams are focused on the methodical completion of your project, we never fail to prepare for the unexpected. Taking potential weather delays, labor issues and materials shortages into account, our contingency plans keep us one step ahead of costly scheduling hold-ups. 
        dt Guaranteed quality
        dd At Propper Construction Services, we complete your project on time—without sacrificing quality. We don’t take shortcuts, and we don’t cut corners. Instead, we accurately define the project scope, eliminate wasteful processes, and maintain critical timelines through careful planning. The result is a project that meets your expectations, schedule and budget. 

      p Project Delivery on Time and on Budget is Crucial, and this is well understood by Propper Construction Services. In fact, it is core to our company culture and company commitment to Exceptional Customer Service. Ensuring the seamless flow of your project from planning to occupancy, Propper Construction Services keeps the entire construction effort within scope, on time—and on budget. Propper Construction Services delivers a planning, permitting, and construction, in a cost-effective, schedule conscious, and quality oriented way. 

      p In summary, Propper Construction Services’ proven project management process includes: 

      :markdown

        * Collaboration with the architectural team 
        * Precision scheduling of labor, materials, and equipment 
        * Management of permitting and inspection concerns 
        * Cost control during planning and construction stages 
        * Preparation of contingency plans for weather, material or labor delays 
        * Follow-up and warranty assistance 
        * Active, attentive client communication at all project phases 

      p In conclusion, Propper Construction Services is available to answer your questions, and to discuss any details of how your project will be managed professionally with attention to quality, schedule, safety, and the final costs.