.container
  != partial('_page-header', {title: 'Real Estate Development Assistance'})
  .row
    .col-sm-8
      h3 Real Estate Development Assistance Services include: 
      ul
        li Proforma building 
        li Budget development
        li Due diligence 
        li Fatal flaw analysis 
        li Entitlement work assistance 
        li Site optimization 
        li Developer partner contacts 
        li Designing and building facilities from the ground up 
        li Build-to-suit for leasing purposes
        li Deal Equity 
        li Co-Development
    .col-sm-4
      .thumbnail
        img.img-responsive(src='//placehold.it/420x500', alt='')