.page-header
  h1 Style Guide
  p: small Note this styleguide is an extension of the Twitter Bootstrap CSS framework. See 
    a(href='http://getbootstrap.com/') getbootstrap.com
    |  for more examples.

h2 Color scheme

dl.dl-horizontal
  dt Background
  dd 
    span.color-block(style='background:#fff')
    code #ffffff
  dt Foreground
  dd 
    span.color-block(style='background:#191919')
    code #191919 
  dt Light blue
  dd
    span.color-block(style='background:#a0d3e6')
    code #a0d3e6
  dt Darker blue
  dd
    span.color-block(style='background:#277693')
    code #277693
  dt Orange
  dd
    span.color-block(style='background:#c44833')
    code #c44833
  dt Light orange
  dd
    span.color-block(style='background:#de8d7f')
    code #de8d7f
  dt Green
  dd
    span.color-block(style='background:#00b233')
    code #00b233
  dt Light green
  dd
    span.color-block(style='background:#00ff48')
    code #00ff48

h2 Headings

h1 Heading 1

h2 Heading 2

h3 Heading 3

h4 Heading 4

h5 Heading 5

h6 Heading 6

h2 General Text

p Regular paragraph text. Lorem ipsum quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

p.lead Lead paragraph text lorem ipsum quis nostrud

p
  strong Bold 
  |  and 
  em emphasized
  |  text

p: small Small text

p.text-muted Muted text

h2 Alignment

p.text-left Left aligned text

p.text-center Centered text

p.text-right Right aligned text

h2 Lists

h3 Bullets

ul
  li List item
  li List item
    ul
      li Nested list item
      li Nested list item
      li Nested list item
  li List item
  li List item

h3 Numbered

ol
  li List item
  li List item
    ul
      li Nested list item
      li Nested list item
      li Nested list item
  li List item
  li List item

h2 Blockquote

blockquote
  p Blockquote lorem ipsum quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  footer
    |  Author Name

blockquote.blockquote-reverse
  p Reversed blockquote lorem ipsum quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  footer
    |  Author Name

h2 Buttons

p 
  button.btn.btn-default Default
  | 
  button.btn.btn-primary Primary
  |  
  button.btn.btn-success Success
  |  
  button.btn.btn-info Info
  |  
  button.btn.btn-warning Warning
  |  
  button.btn.btn-danger Danger

p Make any button larger or smaller

p 
  button.btn.btn-default.btn-xs Extra Small
  |  
  button.btn.btn-default.btn-sm Small
  |  
  button.btn.btn-default.btn-lg Large

p Anchors (hyperlinks) as buttons

p
  a.btn.btn-default(href='#') Link
