.container
  != partial('_page-header')
  .row
    .col-sm-8.col-sm-offset-2
      .thumbnail.text-center.text-muted
        img.img-responsive(src='/assets/img/services-target-market.jpg', alt='')
        caption: small
          | Gateway Commerce Center Project in Pontoon Beach, IL
          br
          | Image &copy; Srenco Aerial Photography
      :markdown

        Commercial construction projects ranging in contract value from approximately $500,000 to $50,000,000+.
        
        Site Work, Office, Retail, Warehouse, Apartments, Senior Living,  Hospitality, Tenant Finish, Industrial, Renovation

        Propper Construction Services would typically work for a Developer, Government, and Institutional buyers of construction services, especially where we can assist on the pre-construction side of the project and use that as a bridge to the construction contract.