// Import bootstrap
@import "../../../components/bootstrap/less/bootstrap.less";

/** 
 * Brand-specific variables
 */

// colors
@white: #fff;
@black: #000;
@near-black: #191919;
@light-blue: #a0d3e6;
@dark-blue: #277693;
@orange: #e16238;
@light-orange: #de8d7f;
@green: #00b233;
@light-green: #00ff48;
@red: #b20000;
@light-red: #ff4c4c;

// fonts
@font-family-brand-sans-serif: 'Source Sans Pro', sans-serif;
@font-family-brand-special: 'Orbitron';

/**
 * Twitter bootstrap overrides
 */

// colors
@body-bg: @white;
@text-color: @near-black;
@link-color: @orange;
@link-hover-color: @dark-blue;
@brand-primary: @orange;
@brand-success: @green;
@brand-info: @dark-blue;
@brand-warning: @orange;
@brand-danger: @red;
@hr-border: @orange;

// fonts
@font-size-base: 16px;
@font-family-sans-serif: @font-family-brand-sans-serif;
@headings-font-family: @font-family-brand-special;

// navbar
@navbar-border-radius: 0;

// navbar-default
@navbar-default-bg: transparent;

// navbar-collapse breakpoint
@grid-float-breakpoint: @screen-sm-max;


/** 
 * Color blocks
 */
span.color-block {
  display: inline-block;
  margin: 0 1em 0 0;
  height: 0.9em;
  width: 2em;
  border: solid 1px @near-black;
}

/**
 * Base/Globals
 */
.text-center .img-responsive {
  margin-left: auto;
  margin-right: auto;
}
img {
  max-width: 100%;
}
body {
}
h1, h2 {
  text-transform: uppercase;
  font-weight: bold;
}
h3, h4, h5, h6 {
  font-weight: bold;
  font-family: @font-family-brand-sans-serif;
  // text-transform: uppercase;
}
dl {
  dt {
    text-transform: uppercase;
    font-weight: bold;
    margin: 1em 0 0.5em;
  }
}
hr {
  border-width: 5px;
  width: 12%;
  margin: 3em auto;
  padding: 0;
}
.l-padded {
  padding-top: 2em;
  padding-bottom: 2em;
}
.page-header {
  border-bottom: none transparent;
}

/** 
 * Site header
 */
.site-header {
  padding: 1em 0;
  background: @white url(../img/bg-trans-800.jpg) repeat-x center -20px;

  @media (max-width: @screen-sm-max) {
    .logo-container {
      text-align: center;
      margin: 1em auto;
      .img-responsive {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

/**
 * Site nav
 */
.navbar {
  margin-top: 1em;
  margin-bottom: 0;
  text-align: left;

  .navbar-nav > li > a {
    text-transform: uppercase;
    font-weight: bold;
  }

  @media (max-width: @screen-sm-max) {
    .navbar-header {
      text-align: center;
      button {
        margin-left: auto;
        margin-right: auto;
      }
    }
    .navbar-collapse {
      background-color: @white;
    }
  }

  @media (min-width: @screen-md-min) {
    padding-top: 2em;
    margin-bottom: 0;
  }

  @media (min-width: @screen-lg-min) {
    padding-top: 3em;
  }

}

/**
 * Site main
 */

.site-main {
  border-top: solid 10px @orange;
  border-bottom: solid 10px @orange;
  padding: 2em 0;

  p {
    margin: 1.25em 0;
  }

  .page-header {
    h1 {
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;

      @media (max-width: @screen-xs-max) {
        font-size: 2em;
      }
    }
  }
}

/**
 * Site footer
 */

.site-footer {
  font-size: @font-size-small - 1;
  text-align: center;
  padding: 2em 0;
  background: @white url(../img/bg-trans-800.jpg) repeat-x center -20px;
}
