// Import bootstrap
@import "../../../components/bootstrap/less/bootstrap.less";

/** 
 * Brand-specific variables
 */

// colors
@white: #fff;
@black: #000;
@near-black: #191919;
@light-blue: #a0d3e6;
@dark-blue: #277693;
@orange: #c44833;
@light-orange: #de8d7f;
@green: #00b233;
@light-green: #00ff48;
@red: #b20000;
@light-red: #ff4c4c;

// fonts
@font-family-brand-sans-serif: Arial;
@font-family-brand-special: "Some special font name";

/**
 * Twitter bootstrap overrides
 */

// colors
@body-bg: @white;
@text-color: @near-black;
@link-color: @orange;
@link-hover-color: @dark-blue;
@brand-primary: @orange;
@brand-success: @green;
@brand-info: @dark-blue;
@brand-warning: @orange;
@brand-danger: @red;

// navbar

/** 
 * Color blocks
 */
span.color-block {
  display: inline-block;
  margin: 0 1em 0 0;
  height: 0.9em;
  width: 2em;
  border: solid 1px @near-black;
}

/**
 * Base/Globals
 */
.text-center .img-responsive {
  margin-left: auto;
  margin-right: auto;
}
img {
  max-width: 100%;
}

body {
  background: @white url(../img/bg-trans-800.png) no-repeat center -4px;
}

/** 
 * Site header
 */
.site-header {
  padding: 2em 0;
  text-align: center;
}
.img-logo {
  margin-left: auto;
  margin-right: auto;
}

/**
 * Site main
 */

.site-main {

}

/**
 * Site footer
 */

.site-footer {

}

/**
 * Media queries
 *
 * See below for more info
 * @link http://getbootstrap.com/css/#grid-media-queries
 */

// only affects xs
@media (max-width: @screen-xs-max) {

}

// only affects xs and sm 
@media (max-width: @screen-sm-max) {

}

// sm and up
@media (min-width: @screen-sm-min) {
  body {
    background-image: url(../img/bg-trans-1600.png);
  }
}

// only affects md and lg
@media (min-width: @screen-md-min) {
  body {
    background-image: url(../img/bg-trans.png);
  }
}